.searchBar {
    .type {
        button {
            padding: 16px 36px;
            border: 1px solid #999;
            cursor: pointer;
            background-color: white;
            text-transform: capitalize;
            &.active {
                background-color: black;
                color: white;
            }
            &:first-child {
                border-top-left-radius: 5px;
                border-right: none;
            }
            &:last-child {
                border-top-right-radius: 5px;
                border-left: none;
            }
        }

      
        
    }
}