nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left {
    flex : 3 ;
    display: flex;
    align-items: center;
    gap: 50px;
    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      justify-items: center;
      gap: 10px;

      img {
        width: 28px;
      }
    }
}
.right {
    flex:  2 ;
    display: flex;
    justify-items: center;
    justify-content: flex-end;
    
}
